@using Red_Social.Core.Application.ViewModels.Users
@model RestorePasswordViewModel



<form method="post" asp-controller="User" asp-action="RestorePassword">
    <h1 class="text-center">Restore Password</h1>
    @Html.ValidationSummary(false, "",new {@class = "text-danger"})

    <div class="form-outline mb-4">
        <label asp-for="Username" class="form-label" for="form3Example3">Ingresa el nombre de usuario</label>
        <input asp-for="Username" id="form3Example3" class="form-control" />
        

        <button type="submit" class="btn btn-lg btn-block btn-success mt-4">Reiniciar Contraseña </button>
        <a asp-controller="User" asp-action="Index" class="btn btn-lg btn-block btn-warning mt-2">Volver atras</a>
    </div>
    @*    @if (Model.Id > 0)
        {
        <div class="form-outline mb-4">
        <label asp-for="Password" class="form-label" for="form3Example4">Password</label>
        <input asp-for="Password" type="password" id="form3Example4" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        }*@

</form>
