@using Red_Social.Core.Application.ViewModels.Comments;
@model SaveCommentViewModel
@{
    //bool editMode = Model.Id == 0 ? false : true;
    //ViewData["Title"] = "Post";

    //SavePostViewModel PostVm = new();
}



<div class="container-fluid">

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-body">

                    <form method="post" asp-controller="Comment" asp-action="Create" class="mb-6">


                        <div class="form-group shadow-textarea">
                            <label asp-for="@Model.Text" name="Text for="exampleFormControlTextarea6">Añade tu comentario:</label>
                            <textarea asp-for="@Model.Text" name="Text" class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3" placeholder="" What's Happening?"></textarea>
                        </div>


                        <input type="hidden" asp-for="@Model.Id" name="Id" />

                        <button type="submit" class="btn btn-primary mb-6">Enviar Comentario</button>
                    </form>

                </div>

            </div>
        </div>
    </div>

</div>









